# Git
GIT_EMAIL=mail@gmail.com
GIT_NAME="zakarialabib"

# System userid/groupid (501/20 used as default)
UID=501
GID=20

# PHP Version (8.3)
PHPVERSION=83

####################
# LARAVEL SETTINGS #
####################

APP_NAME=MystockMaster
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=https://mystockmaster.test

SKIP_INSTALLATION=true
FORCE_PLATFORM_ACCESS=true
INSTALLATION_COMPLETED=true

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_STACK=single
LOG_LEVEL=debug
DEBUGBAR_ENABLED=false

NATIVEPHP_APP_ID=com.mystockmaster.app
NATIVEPHP_APP_NAME="MyStockMaster Desktop"
NATIVEPHP_APP_VERSION=1.0.0
DESKTOP_MODE=false
NATIVEPHP_UPDATER_ENABLED=true
NATIVEPHP_UPDATER_PROVIDER=github
NATIVEPHP_UPDATER_GITHUB_REPOSITORY=zakarialabib/myStockMaster
NATIVEPHP_UPDATER_GITHUB_TOKEN=
# NATIVEPHP_PHP_BINARY_PATH="./bin/"

# DB_CONNECTION=sqlite
# DB_DATABASE=/absolute/path/to/database.sqlite
# DB_FOREIGN_KEYS=true

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=stock
DB_USERNAME=root
DB_PASSWORD=

# DB_CONNECTION=pgsql
# DB_HOST=postgres
# DB_PORT=5432
# DB_DATABASE=laravel
# DB_USERNAME=dbuser
# DB_PASSWORD=dbpassword

BROADCAST_DRIVER=reverb

CACHE_STORE=database
CACHE_PREFIX=

FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"

FORCE_HTTPS_SCHEME=false

# REVERB_APP_ID=my-app-id
# REVERB_APP_KEY=my-app-key
# REVERB_APP_SECRET=my-app-secret

REVERB_APP_ID=
REVERB_APP_KEY=
REVERB_APP_SECRET=
REVERB_HOST="localhost"
REVERB_PORT=8080
REVERB_SCHEME=http

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"
