/node_modules
/public/build
/public/hot
/public/storage
/public/images/products/*
/public/images/livewire-temp/*
/storage/*.key
/vendor
/stubs
/bin
/docs
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
public/vendor/*
docs/.vitepress/dist and  
docs/.vitepress/cache