/node_modules
/public/build
/public/hot
/public/storage
/public/images/products/*
/public/images/brands/*
/public/images/livewire-temp/*
/storage/*.key
/vendor
/stubs
/bin
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
public/vendor/*
docs/.vitepress/dist
docs/.vitepress/cache
yarn.lock
package-lock.json
composer.lock
.env.dusk.local
.trae/
storage/database
phpstan-results.json
storage/framework/views/.gitignore
storage/framework/views/4ca85c3513e525698d11e345162d15a9.php
storage/framework/views/5c070e33ecde680e00b4e74731386aa6.php
storage/framework/views/9cac6d23c00c1724d80c02b0e7e0508b.php
storage/framework/views/136d5c19d375a3e24943ae02c3a490af.php
storage/framework/views/9374a242abec0b5adcb6acf076ecedbb.php
storage/framework/views/a168b0ebcff266df6b662fc4b6d06e88.blade.php
storage/framework/views/bdee64aa7a915087a5a3a7d13bf3f782.php
storage/framework/views/cfbf8b9fc549088ab489cfca96ce209d.php
storage/framework/views/livewire/.gitignore
.aider*
