includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app
        - config
        - database
        - routes
        - tests

    # Level 9 is the highest level
    level: 5

    checkUninitializedProperties: true
    checkModelProperties: true

    ignoreErrors:
        - '#PHPDoc tag @var#'
        - '#Access to undefined constant#'
        - '#Call to an undefined method#'
        - '#Unsafe usage of new static#'

    excludePaths:
        - ./*/*/FileToBeExcluded.php

    universalObjectCratesClasses:
        - Illuminate\Support\Fluent
        - Illuminate\Database\Eloquent\Model
