includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app
        - database/factories
        - database/seeders
        - routes
        - tests
        
    # Level 9 is the highest level
    level: 6

    checkMissingIterableValueType: false

    checkGenericClassInNonGenericObjectType: false

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
