.select2 {
  @layer w-full border-0 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring !important;
}

.select2-dropdown {
  @layer absolute block w-auto box-border bg-white shadow-lg border-blueGray-200 z-50 float-left;
}

.select2-container--default .select2-selection--single {
  @layer border-0 h-11 flex items-center text-sm;
}

.select2-container--default .select2-selection--multiple {
  @layer border-0 text-sm;
}


.select2-container--default.select2-container--focus .select2-selection--single,
.select2-container--default.select2-container--focus .select2-selection--multiple {
  @layer border-0 outline-none ring ring-blue-600;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 9px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  @layer px-3 py-3 text-blueGray-600;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  @layer px-3 py-2 text-blueGray-600;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: inherit;
}

.select2-selection__choice {
  @layer text-xs font-semibold inline-block py-1 px-2 rounded text-indigo-600 bg-indigo-200 border-0 !important;
}

.select2-selection__choice span {
  @layer text-white !important;
}

.select2-search__field:focus {
  outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  @layer text-rose-500 ml-1 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  @layer text-indigo-600 mr-1 !important;
}

.select-all, .deselect-all {
  @layer cursor-pointer;
  font-size: 0.5rem !important;
}
