.row {
  @apply w-full px-4 mb-12 flex flex-wrap items-center justify-center;
}
.card {
  @apply relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg border-0;
}

.card .card-header {
  @apply rounded-t bg-white mb-0 px-6 py-6;
}

.card .card-header-container {
  @apply text-center flex justify-between;
}

.card .card-title {
  @apply text-gray-700 text-xl font-bold;
}

.card .card-body {
  @apply flex-auto px-4 lg:px-10 py-10 pt-0;
}

.card .card-controls {
  @apply flex-auto px-4 lg:px-10 py-3; 
}

.card .card-table {
  @apply py-3 pt-0;
}

.sidebar-nav-active {
  @apply text-xs uppercase py-3 font-bold block text-blue-500;
}

.sidebar-nav-active > i {
  @apply mr-2 text-sm opacity-75;
}

.sidebar-nav-active:hover {
  @apply text-blue-600;
}

.sidebar-nav {
  @apply text-xs uppercase py-3 font-bold block text-gray-800;
}

.sidebar-nav > i {
  @apply mr-2 text-sm text-gray-400;
}

.sidebar-nav:hover {
  @apply text-gray-600;
} 

.table { 
  @apply items-center table-auto bg-transparent border-collapse;
}

.table th {
  @apply align-middle border border-solid text-xs uppercase whitespace-nowrap font-semibold text-left text-gray-500;
}

.table td {
  @apply border-gray-200;
}

.table.table-index th {
  @apply px-6 py-3 border-l-0 border-r-0 border-gray-100;
}

.table.table-index td {
  @apply px-4 py-2 border-t border-dashed;
}

.table.table-view th,
.table.table-view td {
  @apply px-6 py-3 border border-solid;
}

.table.table-index > tbody > tr:hover {
  @apply bg-gray-50;
}

.form-group .required::after {
  content: " *";
  @apply text-red-500;
}

.help-block {
  @apply text-gray-600 pt-2 text-sm;
}

.badge-relationship {
  @apply text-indigo-600 bg-indigo-200;
}

.link-light-blue {
  @apply text-blue-200 flex items-center hover:underline last:mb-0 mb-1;
}

.link-light-blue i {
  @apply mr-1;
}

.link-photo {
  @apply inline-block last:mr-0 mr-1;
}

.radio-label {
  @apply flex items-center last:mb-0 mb-1 cursor-pointer;
}

.radio-label input[type=radio] {
  @apply mr-2;
}

.was-validated :invalid ~ .invalid-feedback,
.was-validated :invalid ~ .invalid-tooltip,
.is-invalid ~ .invalid-feedback,
.is-invalid ~ .invalid-tooltip {
  display: block;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  border-color: #e3342f;
  padding-right: calc(1.6em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23e3342f' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23e3342f' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.4em + 0.1875rem) center;
  background-size: calc(0.8em + 0.375rem) calc(0.8em + 0.375rem);
}

.was-validated .form-control:invalid:focus,
.form-control.is-invalid:focus {
  border-color: #e3342f;
  box-shadow: 0 0 0 0.2rem rgba(227, 52, 47, 0.25);
}

.was-validated textarea.form-control:invalid,
textarea.form-control.is-invalid {
  padding-right: calc(1.6em + 0.75rem);
  background-position: top calc(0.4em + 0.1875rem) right calc(0.4em + 0.1875rem);
}

.was-validated .custom-select:invalid,
.custom-select.is-invalid {
  border-color: #e3342f;
  padding-right: calc(0.75em + 2.3125rem);
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px, url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23e3342f' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23e3342f' stroke='none'/%3e%3c/svg%3e") #fff no-repeat center right 1.75rem/calc(0.8em + 0.375rem) calc(0.8em + 0.375rem);
}

.was-validated .custom-select:invalid:focus,
.custom-select.is-invalid:focus {
  border-color: #e3342f;
  box-shadow: 0 0 0 0.2rem rgba(227, 52, 47, 0.25);
}

.was-validated .form-check-input:invalid ~ .form-check-label,
.form-check-input.is-invalid ~ .form-check-label {
  color: #e3342f;
}

.was-validated .form-check-input:invalid ~ .invalid-feedback,
.was-validated .form-check-input:invalid ~ .invalid-tooltip,
.form-check-input.is-invalid ~ .invalid-feedback,
.form-check-input.is-invalid ~ .invalid-tooltip {
  display: block;
}

.was-validated .custom-control-input:invalid ~ .custom-control-label,
.custom-control-input.is-invalid ~ .custom-control-label {
  color: #e3342f;
}

.was-validated .custom-control-input:invalid ~ .custom-control-label::before,
.custom-control-input.is-invalid ~ .custom-control-label::before {
  border-color: #e3342f;
}

.was-validated .custom-control-input:invalid:checked ~ .custom-control-label::before,
.custom-control-input.is-invalid:checked ~ .custom-control-label::before {
  border-color: #e9605c;
  background-color: #e9605c;
}

.was-validated .custom-control-input:invalid:focus ~ .custom-control-label::before,
.custom-control-input.is-invalid:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(227, 52, 47, 0.25);
}

.was-validated .custom-control-input:invalid:focus:not(:checked) ~ .custom-control-label::before,
.custom-control-input.is-invalid:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #e3342f;
}

.was-validated .custom-file-input:invalid ~ .custom-file-label,
.custom-file-input.is-invalid ~ .custom-file-label {
  border-color: #e3342f;
}

.was-validated .custom-file-input:invalid:focus ~ .custom-file-label,
.custom-file-input.is-invalid:focus ~ .custom-file-label {
  border-color: #e3342f;
  box-shadow: 0 0 0 0.2rem rgba(227, 52, 47, 0.25);
}

.dark .ps__rail-y,
.dark .ps__rail-x {
    background-color: transparent !important;
}

.toggle-checkbox:checked {
    @apply right-0 border-green-400;
    right: 0;
    border-color: #68D391;
}
.toggle-checkbox:checked + .toggle-label {
    @apply bg-green-400;
    background-color: #68D391;
}

#daily-chart,
#monthly-chart,
#chart {
  width: 500px !important;
  min-width: 300px !important;
}
